
body{
  margin: 0px;
}
header{
  margin: 0px; 
}
.backgroundHeader{
  background-color: darkblue;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center top;
  position: static;
  margin-bottom: 0px;
  scroll-margin-top: 0px;
  margin-top: 0px;
}


.testGround{

  background-color: blueviolet;
  background-size: cover;
  position: static;

}


h1 {
  color: pink;
}
p {
  color: red;
}