
body{
  margin: 0px;
}
header{
  margin: 0px; 
}
.backgroundHeader{
  background-color: darkblue;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center top;
  position: static;
  width: 100%; 
  margin: 0px;
  padding: 10%;  
  top: 0px;
  
}


.testGround{

  background-color: blueviolet;
  background-size: cover;
  position: static;
  margin: 0px; 
  padding: 5%; 
  bottom: 0px;
}

.navBar{
  position: fixed;
  width: 100%;
  top: 0px; 
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  background-color: #111;
}


h1 {
  color: pink;
}
p {
  color: red;
}